  
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      line-height: 1.6;
      background: #f4f4f4;
      color: #333;
      
    }

    

    /* NAVBAR */
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 40px;
      background: #111;
      color: #fff;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 20px;
    }

    nav ul li a {
      color: #fff;
      text-decoration: none;
      font-size: 14px;
    }

    nav .name {
      font-weight: bold;
      font-size: 16px;
    }

    /* SECTIONS */
    section {
      padding: 50px 40px;
      max-width: 1000px;
      margin: auto;
      background: #fff;
      margin-top: 20px;
    }

    /* INTRO */
    .intro {
      display: flex;
      align-items: center;
      gap: 40px;
      box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    }

    .intro img {
      width: 180px;
      height: 180px;
      object-fit: cover;
      border-radius: 10px;
      background: #ccc;
      box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    }

    .intro h1 {
      font-size: 28px;
      margin-bottom: 10px;
    }

    .intro p {
      font-size: 14px;
      color: #555;
    }

    h2 {
      margin-bottom: 15px;
      font-size: 22px;
    }

    /* SKILLS */
    button {
      background: #111;
      color: #fff;
      border: none;
      padding: 10px 15px;
      margin: 5px;
      border-radius: 5px;
      font-size: 14px;
      cursor: pointer;
      box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    }

    /* CONTACT */
    .contact p {
      margin-bottom: 8px;
      
    }

    footer {
      text-align: center;
      padding: 20px;
      font-size: 12px;
      color: #777;
    }
  .about {
      margin-bottom: 10px;
      box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    }
    .skills {
      box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    }
    .contact {
      box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    }
    .cv {
      display: inline;
      margin-top: 15px;
      padding: 0;
      background-color: transparent;
      color: #666;
      text-decoration: none;
      border-radius: 0;
      font-size: 14px;
      text-align: right;
    }
    .cv:hover {
      background-color: transparent;
      color: #444;
      text-decoration: none;
    }